 <div class="mb-4">
      <label 
        class="block text-sm font-normal text-black mb-2"
        [attr.for]="name"
      >
        {{ label }}
      </label>
      
      <div class="relative">
        <input
        style="box-shadow: 0px 1px 10px 0px #00000026"
               [id]="name"
       [type]="type"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onTouched()"
           class="mt-1 py-2.5 px-3  block w-full text-black  rounded-[8px]  text-sm"
        />
        
    </div>
