<div class="flex items-center justify-center h-screen">
  <div class="rounded-[16px] bg-white p-8 shadow-lg max-w-full w-[495px]">
    <div class="text-center mb-6 space-y-6">
      <img src="/assets/admin/azubi-logo.svg" alt="Logo" class="mx-auto h-12 w-auto">
      <h2 class="text-2xl inter-bold mb-4 text-black">OTP verification</h2>
      <p class="text-custom-grey text-[18px] mb-0  leading-normal inter-light">
        Enter the verification code we sent to your 
      </p>
      <p class="text-[#404040] inter-light">{{email}}</p>
    </div>
<form [formGroup]="verifyToken" (ngSubmit)="onSubmit()" novalidate>
    <app-form-input 
    label="Code"   
    formControlName="token" 
    type="text"
  inputmode="numeric">

    </app-form-input>
    <!-- Validation -->
        <div *ngIf="verifyToken.get('token')?.invalid && verifyToken.get('o')?.touched" class="text-red-500 text-sm mt-1">
          <div *ngIf="verifyToken.get('token')?.errors?.['required']">
            OTP is required.
          </div>
          <div *ngIf="verifyToken.get('token')?.errors?.['minlength'] || verifyToken.get('otp')?.errors?.['maxlength']">
            OTP must be exactly 6 digits.
          </div>
        </div>
    <button type="submit" [disabled]="isLoading" class=" btn-primary w-full">
      {{ isLoading ? 'Verifying...' : 'Verify OTP' }}
    </button>
</form>
  <div class="mt-4 text-center">
      <p class="text-[18px] text-black inter-regular">
        Didn’t you receive the OPT? 
        <a class="cursor-pointer text-custom-blue inter-semibold" (click)=" resendOtp()" >
         Resend OTP
        </a>
      </p>
    </div>
</div>
  </div>
