@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@source "node_modules/flowbite-angular";


@theme {
  /*  */
   --font-family-inter: "Inter", sans-serif;
  --font-family-figtree: "Figtree", sans-serif;
  --font-family-sans: var(--font-family-inter);


  /* Custom breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Custom colors */
  --color-overlay-gray:  #D9D9D94D;
  --color-custom-blue: #01589A;
  --color-custom-grey: #7F7E83;
}


.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Custom font weight classes for Inter */
.inter-thin {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: var(--font-family-inter);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}



body {
   font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2, h3,h4,h5,h6 {
   font-family: "Figtree", sans-serif;
}

p, span, a, li, div {
   font-family: "Figtree", sans-serif;
}

.auth-background {
  background-image: url("/assets/admin/auth.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.container-box {
    @apply flex flex-col justify-center px-6 py-8 mx-auto md:h-screen lg:py-0;
}

.btn-primary {
    @apply bg-[#01589A] text-white py-3 px-4 rounded-[8px] font-semibold text-[18px] leading-[24px]  transition duration-200 w-full h-[48px] ;
      box-shadow: 0px 1px 10px 0px #00000026;
}


/* In your global styles.css or app component styles */
.p-toast .p-toast-message.p-toast-message-success {
  --p-toast-success-background: #10b981;
  --p-toast-success-border-color: #059669;
  --p-toast-success-color: #ffffff;
}

.p-toast .p-toast-message.p-toast-message-error {
  --p-toast-error-background: #ef4444;
  --p-toast-error-border-color: #dc2626;
  --p-toast-error-color: #ffffff;
}

.error {
    @apply text-red-600
}

