<div>
  <form [formGroup]="courseForm" (ngSubmit)="onFormSubmit()" class="space-y-4">
    <app-form-input label="Course Name" name="title" formControlName="title"></app-form-input>
    <div class="mb-4">
      <label class="block text-sm font-normal text-black mb-2">
        Select Track
      </label>
      
      <select formControlName="track" id="track" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 ">
    <option *ngIf="loading()">Loading...</option>
    <option *ngFor="let track of tracks()" [value]="track._id">{{ track.name }}</option>
  </select>
    </div>
    <div class="mb-4">
      <label class="block text-sm font-normal text-black mb-2">
        Picture
      </label>
      <input style="box-shadow: 0px 1px 10px 0px #00000026" type="file" accept="image/*" formControlName="image"
        (change)="onFileSelected($event)" class="mt-1 py-2.5 px-3 block w-full text-black rounded-[8px] text-sm">
      <div *ngIf="currentImageUrl()" class="mt-2 text-sm text-gray-500">
        Selected image
        <img [src]="currentImageUrl()" alt="Current Course Image" style="max-width: 40px;">
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-sm font-normal text-black mb-2" for="description">
        Description
      </label>
      <textarea style="box-shadow: 0px 1px 10px 0px #00000026" name="description" formControlName="description"
        class="mt-1 py-2.5 px-3 block w-full text-black rounded-[8px] text-sm" rows="4"></textarea>
    </div>
    <button type="submit" [disabled]="!courseForm.valid"
      class="w-full btn-primary disabled:opacity-50 disabled:cursor-not-allowed">
      <span *ngIf="!isLoading">
        {{ mode === 'add' ? 'Add Course' : 'Update Course' }}
      </span>
      <span *ngIf="isLoading">
        Submitting...
      </span>
    </button>

  </form>
</div>